// IMPORT LINKS

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Fontawesome
@import "@fortawesome/fontawesome-free/css/all.min.css";

//Montserrat Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Style
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
